# Originally Designed for Docker Environment, TensorFlow 1.12.0/1.15.0, Python 3.7, CUDA 10.0

lmdb>=0.9
numpy>=1.14.0
h5py >= 2.10.0
msgpack==0.5.6
pyarrow>=0.10.0
open3d>=0.9.0.0
tensorpack>=0.8.9
matplotlib>=2.1.0
tensorflow==1.15.4
open3d-python==0.7.0.0
